body {
  padding: 10px;
  font-family: sans-serif;
}

#login-dropdown-list {
  position: absolute;
  top: -1px;
  left: unset;
  right: 20px;
}

.categoriesdiv{
  margin-top: 20px;
  width: 300px;
  height: 150px;
  border: 1px solid black;
}

.div1{
  height: 50%;
  border: 1px solid black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div2{
  height: 50%;
  border: 1px solid black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productdiv{
  width: 800px;
}

.mainproductdiv{
  width: 100%;
}

.imgdiv{
  width: 40%;
  height: 100%;
}

.textdiv{
  width: 60%;
  height: 50%;
  margin-left: 10px;
}

.images{
  width: 100%;
  height: 100% !important;
}

input{
  display: block;
}

select{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

textarea{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.addProduct{
  width: 80%;
  height: 80%;
  padding-left: 20px;
}


.imgfile{
  border: 1px solid black;
}

.productsdiv{
  display: flex;
  width: 100%;
  border: 1px solid black;
  margin: 20px 0px 20px 0px;
}

.featured{
  display: flex;
}

.featuredinput{
  margin: 5px 5px 0px 5px;
}

.footerdiv{
  width: 100%;
  background-color: black;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.aside-div{
  height: 50%;
  width: 100%;
  border: black 1px solid;
  display: flex;
  align-items: center !important;

  text-align: center !important;
}

.asideContainer{
  height:100%
}

.rewiewstar{
  width: 100px;
  height: 60px;
}

.featuredproduct{
  color: blue;
  font-weight: 800;
}