<template name="mainLayout">
    {{> header}}
    <div class="container d-flex">
        <div class="categoriesdiv">
            
            {{> aside}}

        </div>
            <div class="productdiv">
                {{> Template.dynamic template=main}}
            </div>   
        </div>
    {{> footer}}
</template>