<template name="category">
    <div class="mainproductdiv">
        {{#each getProductcategorys}}
            
            <div class="textdiv">
                <img class="images"  src="{{ getImage }}" alt="">
                <b > {{name}}</b>
                <p> {{ description}}</p>

                <p></p>
                <a class="btn btn-primary" href="/readrewiews/{{_id}}">readreview</a>
            {{#if loggedIn}}
                <a class="btn btn-primary" href="/addreview/{{_id}}">addrewiew</a>
            {{/if}} 
            <p> Reviews count: {{count}} </p>
            </div>
            
        {{/each}}
    </div>
</template>