<template name="home">
        <div class="mainproductdiv">
            {{#each isfeaturedProduct}}
                <div class="productsdiv">   

                        <div class="imgdiv">
                            <img class="images"  src="{{ getImage }}" alt="">
                        </div>


                        <div class="textdiv">
                            <b > Name: {{ name}}</b>
                            <p> Description: {{ description}}</p>
                            <p class="featuredproduct" >featured Product</p>
                            <a class="btn btn-primary" href="/readrewiews/{{_id}}">readreview</a>
                        {{#if loggedIn}}
                            <a class="btn btn-primary" href="/addreview/{{_id}}">addrewiew</a>
                        {{/if}}  
                        {{#if getstars1}}
                            <img class="rewiewstar" src="/starsimg/1.png" >
                        {{/if}}
                        {{#if getstars2}}
                            <img class="rewiewstar" src="/starsimg/2.png" >
                        {{/if}}
                        {{#if getstars3}}
                            <img class="rewiewstar" src="/starsimg/3.png" >
                        {{/if}}
                        {{#if getstars4}}
                            <img class="rewiewstar" src="/starsimg/4.png" >
                        {{/if}}
                        {{#if getstars5}}
                            <img class="rewiewstar" src="/starsimg/5.png" >
                        {{/if}}
                        <p> Reviews count: {{count}} </p>
                        </div>
                    
                </div>
            {{/each}}
            {{#each notfeaturedProduct}}
            <div class="productsdiv">   
                    <div class="imgdiv">
                        <img class="images"  src="{{ getImage }}" alt="">
                    </div>

                    <div class="textdiv">
                        <b > Name: {{ name}}</b>
                        <p> Description: {{ description}}</p>
                        <a class="btn btn-primary" href="/readrewiews/{{_id}}">readreview</a>
                        {{#if loggedIn}}
                            <a class="btn btn-primary" href="/addreview/{{_id}}">addrewiew</a>
                        {{/if}} 
                        <p> Reviews count: {{count}} </p>
                    </div>
                
            </div>
        {{/each}}
        </div>
    


</template>