

    <template name="addProduct">
      {{#if loggedIn}}
      
      <div class="addProduct">
        <input class="imgfile" type="file" id="myFile">
          <form  id="newProduct">
            <label for="category">category</label>
            <select class="form-control"  name="productCategory" required="required">
              <option value="0">Select Category</option>
              {{#each getCategories}}
              <option class="form-control" value="{{_id}}">{{ name }}</option>
              {{/each}}
            </select> 
            <label  for="name">Name</label>
            <input class="form-control" type="text" name="name" id="name">
            <label for="description">description</label>
            <textarea class="form-control"  name="description" required="required" id="description"></textarea>
            <button type="submit">Add</button>
            
              <div class="featured">
                <label>Featured:</label>
                <input class="featuredinput" type="radio"  name="feature" value="false" >
                <label for="No">No</label><br>
                <input class="featuredinput" type="radio"  name="feature" value="true" >
                <label for="Yes">Yes</label><br>
              </div>
          </form>

      </div>
          {{/if}}
    </template>



