<template name='aside'>
    <div class='asideContainer'>
        {{#each getCategories}}
            <div class="aside-div">
                <b><a href="/category/{{_id}}" class="" > {{name}} </a></b>
            </div>
        {{/each}}
    </div>
</template>