<template name="header">

        
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Spatit</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/">home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Products</a>
                  </li> -->
                  {{#if loggedIn}}
                     <li class="nav-item">
                      <a class="nav-link " href="/add-product">Add Products</a>
                    </li>
                  {{/if}} 
                </ul>
              </div>
               <div class="login">  {{> loginButtons}} </div> 
              
            </nav>
          
         
</template> 


