<template name="readrewiews"> 
     <div class="rewiudiv">



          {{#with getProductId}}
               <img class="images"  src="{{ getImage }}" alt="">
               <h2> Name: {{name}} </h2> 
               <p>Description:  {{description}} </p>
               <p>--General Rating--</p>
               <p> {{avaregRating}} </p>
               {{/with}}
               {{#if getstars1}}
                    <img class="rewiewstar" src="/starsimg/1.png" >
               {{/if}}
               {{#if getstars2}}
                    <img class="rewiewstar" src="/starsimg/2.png" >
               {{/if}}
               {{#if getstars3}}
                    <img class="rewiewstar" src="/starsimg/3.png" >
               {{/if}}
               {{#if getstars4}}
                    <img class="rewiewstar" src="/starsimg/4.png" >
               {{/if}}
               {{#if getstars5}}
                    <img class="rewiewstar" src="/starsimg/5.png" >
               {{/if}}
          <p>Review & Rating</p>
          {{#each getRewiew}}
          <div class="d-flex border">
               <p class="px-2 h5"> {{ratingtext}} </p>
               <p class="px-2 h5"> {{rating}} </p>
          </div>
          {{/each}}
          <button class="btn btn-primary"><a class="text-white" href="/home">Leave rewiew</a></button>
     </div>
</template>