<template name="addreview">
    <div class="addrewiewbox">
        <p>
            add rewiew for product
        </p>
        {{#with getProductId}}
            <h2> {{name}} </h2> 
        {{/with}}

        <form  id="addrewiewrating" class="ratinbox" name="addrewiewrating">
            <select class="form-control form-control-sm" name="rating" id="ratin">
                <option value="0">Select ratin</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            <div>
                <p>your rewiew</p>
                <textarea class="form-control" name="rewiewtext" id="rewiewtext" ></textarea>
                <button type="submit">add rewiews</button>
            </div>
        </form>
    </div>
</template>